body {
  font-family: sans-serif;
  text-align: center;
}

#carousel-example {
  width: 10%;
  max-width: 50rem;
  height: 10%;
  margin: 2rem auto;
  margin-top: 10rem;
}

#carousel-example img {
  height: 10%;
  object-fit: cover;
}

#newsletter-signup {
  max-width: 30rem;
  margin: 4rem auto;
}

section {
  width: 10%;
  max-width: 50rem;
  margin: 2rem auto;
  text-align: center;
}

#main-image{
    width: 100%;
    height: 10%;
    object-fit: cover;
}